h1,
h2 {
    text-align: center;
    font-weight: 600;
    text-decoration: blue underline wavy;
    letter-spacing: 15px;
    font-size: 50px;
    color: #cdb4db;
}

button {
    font-size: 30px;
    background-color: #669bbc;
    ;
}

body {
    background-color: #669bbc;
}

p {
    line-height: 2;
}

a {
    text-decoration: none;
    color: blue;
}

#signup {
    background-color: #ffc8dd;
}

span {
    color: #faedcd;
}



.post a {
    font-size: 30px;
    color: rgb(47, 0, 255);
    text-decoration: none;
    font-weight: 700;
}

footer a {
    color: red;
}

input+button {
    background-color: yellow;
}

h2+button {
    font-size: 50px;
}

footer>a {
    color: green;
}

input[type="password"] {
    color: greenyellow;
}

p[class="post"] {
    background-color: #d4a373;
}

a[href*="google"] {
    color: magenta;
}

.post button:hover {
    background-color: #ffc8dd;
    color: #d4a373;
}

.post a:hover {
    text-decoration: underline;
}

.post button:active {
    background-color: aqua;
}

.post:nth-of-type(3n) {
    background-color: #4e3904;
}

p::first-letter {
    font-size: 50px;
}

p::selection {
    background-color: #ffc8dd;
}